In [1]:
import pandas as pd    
import numpy as np       
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Desalination_1Hz 19-04-2024 8.00.02.csv")
# Extract the specified columns
columns_to_retrieve = [
    'Id', 'Time', 'MRU_Surge_m', 'MRU_Sway_m', 'MRU_Heave_m', 
    'MRU_Yaw_deg2', 'MRU_Pitch_deg', 'MRU_Roll_deg'
]
selected_data = data[columns_to_retrieve]

# Display the first few rows of the selected data
selected_data

,Id,Time,MRU_Surge_m,MRU_Sway_m,MRU_Heave_m,MRU_Yaw_deg2,MRU_Pitch_deg,MRU_Roll_deg
0,1,19/04/2024 7:47:00,-0.111629,-0.015044,0.026081,18.74794,-88.35925,-171.2446
1,2,19/04/2024 7:47:02,-0.157795,0.039645,0.058729,18.68431,-88.31802,-171.9833
2,3,19/04/2024 7:47:03,-0.138750,0.055761,0.120429,22.39859,-88.45837,-176.4487
3,4,19/04/2024 7:47:05,-0.179533,0.077386,0.083221,23.03473,-88.05989,-177.9612
4,5,19/04/2024 7:47:06,-0.180170,0.075209,0.032985,24.19887,-87.84476,-179.8588
...,...,...,...,...,...,...,...,...
3595,3596,19/04/2024 7:46:53,-0.192861,0.019066,-0.002946,15.34508,-86.60459,-165.6279
3596,3597,19/04/2024 7:46:54,-0.161836,0.051077,0.056193,15.11724,-86.63783,-165.7433
3597,3598,19/04/2024 7:46:56,-0.106435,0.023882,0.082607,14.09645,-87.04077,-165.1856
3598,3599,19/04/2024 7:46:57,-0.112074,-0.041041,0.068006,18.25063,-87.34521,-169.6884
3599,3600,19/04/2024 7:46:59,-0.073205,-0.041418,0.015756,16.21699,-88.03635,-168.0789

In [3]:
dataset = pd.read_csv("Desalination MRU Sensors.csv")
dataset

,Id,Time,MRU_Surge_m,MRU_Sway_m,MRU_Heave_m,MRU_Yaw_deg2,MRU_Pitch_deg,MRU_Roll_deg
0,1,19/04/2024 7:47:00,-0.111629,-0.015044,0.026081,18.74794,-88.35925,-171.2446
1,2,19/04/2024 7:47:02,-0.157795,0.039645,0.058729,18.68431,-88.31802,-171.9833
2,3,19/04/2024 7:47:03,-0.138750,0.055761,0.120429,22.39859,-88.45837,-176.4487
3,4,19/04/2024 7:47:05,-0.179533,0.077386,0.083221,23.03473,-88.05989,-177.9612
4,5,19/04/2024 7:47:06,-0.180170,0.075209,0.032985,24.19887,-87.84476,-179.8588
...,...,...,...,...,...,...,...,...
3595,3596,19/04/2024 7:46:53,-0.192861,0.019066,-0.002946,15.34508,-86.60459,-165.6279
3596,3597,19/04/2024 7:46:54,-0.161836,0.051077,0.056193,15.11724,-86.63783,-165.7433
3597,3598,19/04/2024 7:46:56,-0.106435,0.023882,0.082607,14.09645,-87.04077,-165.1856
3598,3599,19/04/2024 7:46:57,-0.112074,-0.041041,0.068006,18.25063,-87.34521,-169.6884
3599,3600,19/04/2024 7:46:59,-0.073205,-0.041418,0.015756,16.21699,-88.03635,-168.0789